.productivity-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.productivity-quote {
  font-size: 2rem;
  text-align: center;
  color: blue;
}
