.productivity-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.productivity-quote {
  font-size: 2rem;
  text-align: center;
  color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.productivity-task {
  font-size: 1.5rem;
  text-align: center;
  color: green;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.complete-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
